*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.6;
}

body, input, select, button {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Sansita", sans-serif;
}

.frm {
  width: 550px;
  margin: 5rem auto 0;
  padding: 2rem;
  border-radius: .3rem;
  box-shadow: 0 0 10px lightgrey;
}

.head-title {
  /* color: #d62828; */
  color: cadetblue;
  text-align: center;
  text-transform: uppercase;
}

.head-group {
  margin-bottom: .5rem;
  text-align: center;
}

.hr {
  margin: 2rem 0 2rem;
  border: thin solid lightgrey;
}

.div-prompt {
  margin-bottom: 2rem;
}

.lbl {
  display: block;
  margin-bottom: .5rem;
  text-align: justify;
}

.lbl-ques {
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: .3em;
  background-color: #3d5a80;
  color: #fff;
}

.lbl-misc {
  /* font-weight: 500; */
}

.select {
  background-color: transparent;
}

#select-group {
  display: block;
  width: initial !important;
  margin: 0 auto;
  background-color: transparent;
  text-align: center;
}

.inp {
  width: 100%;
  padding: .5em;
  border: thin solid lightgrey;
  border-radius: .3rem;
  font-size: inherit;
  transition-duration: 300ms;
}

.inp:not(select):focus {
  background-color: lightgrey;
}

.btn {
  padding: .5em 3em;
  border-radius: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 300ms;
  cursor: pointer;
}

.btn-primary {
  /* border: thin solid #d62828; */
  border: thin solid cadetblue;
  /* background-color: #d62828; */
  background-color: cadetblue;
  color: #fff;
}

.btn-primary:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.btn-secondary {
  border: thin solid #000;
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: lightgrey;
}

.div-btns {
  display: flex;
  justify-content: flex-end;
}

#btn-reset {
  margin-right: .5rem;
}

.div-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #000; */
  background-color: rgba(0, 0, 0, .4);
}

.div-modal-cont {
  width: 20%;
  margin: 15% auto;
  padding: 2rem;
  border-radius: .3rem;
  /* box-shadow: 0 0 10px lightgrey; */
  background-color: #fff;
  text-align: center;
}

#i-passed {
  display: none;
  font-size: 48px;
  color: #2f6411;
}

#i-failed {
  display: none;
  font-size: 48px;
  color: #dc1708;
}
